* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

header {
  background-color: white;
  padding-right: 70px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head {
  display: flex;
  align-items: center;
  height: 70%;
  width: 10%;
}

.hero img {
  width: 80px;
  height: auto;
  margin-right: -10px;
}

.text-logo {
  display: flex;
  flex-direction: column; /* place les éléments verticalement (de haut en bas) */
  line-height: 1; /* permet de contrôler la distance verticale de premier et secours*/
}

.logo1 {
  color: rgb(49, 49, 130);
  font-weight: bold;
}

.logo2 {
  color: rgb(168, 20, 20);
  font-weight: bold;
}

menu {
  gap: 70px;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0px;
  justify-content: flex-end;
  align-items: center;
}

.menu button {
  background-color: rgb(168, 20, 20);
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: rgb(49, 51, 51);
  cursor: pointer, blue;
}

.fond {
  padding: 150px;
  height: 900px;
  width: 100%;
  background-image: url(./images/fond.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  gap: 8px; /* espace entre tous les éléments */
}

.fond h1 {
  padding: 1px;
  color: white;
  font-size: 60px;
}

.fond p {
  padding: 1px;
  color: rgb(24, 23, 23);
  font-size: 30px;
}

.fond button {
  background-color: rgb(168, 20, 20);
  width: 250px;
  height: 50px;
  border-radius: 15px;
  margin-top: 250px;
  margin-left: 100px;
  color: white;
  font-size: 20px;
}

.ensemble-geste {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 0px;
  margin-bottom: 100px;
  gap: 5px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px; /* 🔥 rapproche icône et texte */
}

.icone {
  display: flex;
  width: 100px;
  justify-content: center;
  gap: 5px;
}
.icone i {
  font-size: 50px;
  color: rgb(168, 20, 20);
}

.geste {
  margin-right: 100px;
}

.titre {
  text-align: center;
  color: rgb(49, 49, 130);
}

.cadr {
  display: flex;
  gap: 20px;
}
.cadre {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cadre-container {
  width: 100%;
  height: 180px;
}

.cadre-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ajuste l'image pour remplir le cadre sans déformation */
}

.cadre:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.container {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;
  background: #635d5d;
  color: white;
  text-align: center;
}

.contain {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
}

.contain h2 {
 margin-top: 15px;
}
.social a {
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

.social i{
  color: rgb(23, 23, 62);
}


.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.contact i {
  width: 25px;       
  text-align: center;
  color: rgb(23, 23, 62)  ;
}

.copyright {
  text-align: center;
  padding: 15px;
  background: #635d5d;
  color: #aaa;
}
